$blue-light: #F1F2F5;

$fw-regular: 400;
$fw-bold: 700;

$fs-xsmall: 1rem;
$fs-small: 1.2rem;
$fs-medium: 1.4rem;
$fs-large: 1.8rem;
$fs-xlarge: 2rem;
$fs-xxlarge: 3rem;

$max-content-width: 1280px;

$box-shadow: 0 0 20px 0 rgba(0,0,0,.1);

$bp-medium: 950px;

$grey-lite: #f5f5f5;
$grey: #ccc;
$orange: #f5672c;
$red-dark: #cc0810;
